* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family:cursive,'roboto', sans-serif;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
}

/*Mise en page de la page 1*/
header{
  justify-content: space-between;
  unicode-bidi: isolate;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  display: flex;
  z-index: 0;
}

div{
  display: block;
  unicode-bidi: isolate;
}

/* mise en page du logo OK*/
.logo{
  display: flex;
  padding: 1%;
}

nav{
  display: flex;
  position: absolute;
  top: 10px;
  right: 0px;
}
/*Mise en page de la navbar OK*/
.navbar{
  display: flex;
  position: absolute;
  top: 10px;
  right: 50px;
}

.navbar li{
    display: flex;
    position: relative;
}

.navbar li a{
  color: #353333;
  padding: 20px;
}

body {
  display: block;
  margin: 8px;
}

#accueil{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

/* mise en page de l'image OK*/
.imgfille {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

/* mise en page du texte & bouton*/
.accroche{
  position: absolute;
  left: 40px;
  z-index: 6;
  color: white;
}

h1 {
  margin-block-end: 0.83em;
}

span{
  color: #70abcf;
}

.btn{
  padding: 0 20px;
  background-color: #70abcf;
  border-color: #70abcf;
  border-radius: 5px;
  color: #fff;
  height: 30px;
}

.btn:hover{
  background-color: #fff;
  color: #70abcf;
}

/* mise en page des fleches*/
.fa-angle-left{
  position: absolute;
  top: 23px;
  left: 40px;
  color: #fff;
  font-size: 25px;
  z-index: 4;
}

.arrow_left {
  position: absolute;
  background-color: rgba(0,0,0,.3);
  width: 70px;
  height: 76px;
  border-radius: 50px;
  left: -30px;
}

.fa-angle-right{
  position: absolute;
  top: 23px;
  right: 40px;
  color: #fff;
  font-size: 25px;
  z-index: 10;
}

.arrow_right {
  position: absolute;
  background-color: rgba(0,0,0,.3);
  width: 70px;
  height: 76px;
  border-radius: 50px;
  right: -30px;
}

/*FIn de la page 1*/


/*Mise en page de la page 2*/
  
  #services {
  
  }
  
  h2 {
    text-transform: uppercase;
    text-align: center;
    position: RELATIVE;
    font-size: 1.5em;
    color: #050505;
    margin-block-start: 0.83em;
     
  }

.line {
    margin: 0 auto;
    position: relative;
    width: 200px;
    margin-bottom: 5vh;
    height: 2px;
    background: linear-gradient(#70abcf, white, #70abcf);
}

.pointbleu {
  width: 12px;
  height: 12px;
  background-color: #70abcf;
  border-radius: 50%;
  z-index: 3;
  position: relative;
  margin: 0 auto;
  }
  
  /* mise en page de la page 3*/
  
  #projets {
    display: flex;
    position: relative;
    top: 100px;
    left: 100px;
  }
  
  
  /* mise en page de la page 4*/
  
  #contact {
    display: flex;
    position: relative;
    top: 100px;
    left: 100px;
  }

iframe{
  width: 100%;
  height: 400px;
}

.text_groupe{
  display: flex;
  flex-direction: column;
}

.services_icones{
  display: flex;
}

.anim_text{
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #70abcf;
}

.incone_text{
  display: flex;
  border: 1px solid #70abcf;
  height: 100px;
}

.icone{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone_circle{
  width: 30%;
  height: 70px;
  border: 2px solid;
  border-radius: 50%;
  position: relative;
  animation: spin 5s linear infinite;
}

.cubes{
  position: absolute;
  top: 25px;
  left: 22px;
}

.points{
  display: flex;
  top: 7px;
  animation: spin 5s linear infinite;
  transform: translateY(-50%, -50%);
}

@keyframes spin {
  100% 
  { transform: rotate(360deg); }
}

.text{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.map{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  height: auto;
}