* {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family:cursive,'roboto', sans-serif;
}

#container{
    max-width: 1400px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/*Mise en page de la page 1*/
 header{ 
  padding: 1% 1% 1% 1%;
  display: flex;
}

/* mise en page du logo OK*/
.logo{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  left: -170%;
}

/*Mise en page de la navbar OK*/

.navbar{
  display: flex;
  position: absolute;
  top: 8px;
  right: 8%;
}

.navbar li{
  display: flex;
  position: relative;
}

.navbar li a{
  color: #353333; 
  padding: 20px;
}

/*Mise en page du body*/
  body {
  display: flex;
  } 

  

/*Mise en page de la page accueil*/
#accueil{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 130%; 

  }

/* mise en page de l'image OK*/
 .img_fille img{
    max-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
 }
 

/* mise en page du texte & bouton*/
.accroche{
  position: absolute;
  left: 15%;
  z-index: 6;
  color: white;
  top: 30%;
  left: 15%;
  
}

h1 {
  margin-block-end: 0.83em;
}

span{
  color: #70abcf;
}

.btn{
  position: absolute;
  padding: 0 20px;
  background-color: #70abcf;
  border-color: #70abcf;
  border-radius: 5px;
  color: #fff;
  height: 30px;
  margin-top: 20px;
}

.btn:hover{
  background-color: #fff;
  color: #70abcf;
}

/* mise en page des fleches*/
.fa-angle-left{
  position: absolute;
  top: 300px;
  left: 100px;
  color: #fff;
  font-size: 25px;
  z-index: 0;
}

.arrow_left i{
  display: flex;
  background-color: rgba(0,0,0,.3);
  width: 60px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  
}

.fa-angle-right{
  position: absolute;
  top: 300px;
  right: 120px;
  color: #fff;
  font-size: 25px;
  z-index: 0;
}

.arrow_right i{
  display: flex;
  background-color: rgba(0,0,0,.3);
  width: 60px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;  
  align-items: center;
}

/*FIn de la page 1*/


/*Mise en page de la page services*/

#services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 130%; 

  } 
     
  h2 {
    text-transform: uppercase;
    text-align: center;
    position: RELATIVE;
    font-size: 1.5em;
    color: #050505;
    margin-block-start: 0.83em;
     
  }

.line {
    margin: 0 auto;
    position: relative;
    width: 200px;
    margin-bottom: 5vh;
    height: 2px;
    background: linear-gradient(#70abcf, white, #70abcf);
}

.pointbleu {
  width: 12px;
  height: 12px;
  background-color: #70abcf;
  border-radius: 50%;
  z-index: 3;
  position: relative;
  margin: 0 auto;
  top: -53px;
  }

.nos_services{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
  } 
  
/* .ecran {
  display: flex;
  width: 100%;
  height: auto;

} */

/*annimation de la page 2*/
.text_groupe{
  display: flex;
  flex-direction: column;
}

.services_icones{ 
  display: flex;
  justify-content: space-around;
}

.anim_text{
  width: 50%;
  display: flex;
  flex-direction: column;

}

.incone_text{
  display: flex;
  height: 100px;
}

.point i{
  height: 70px;
  width: 70px;
  top: -35px;
}

.icone{
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone_circle{
  width: 60px;
  height: 60px;
  border: 2px solid;
  border-radius: 50%;
  position: relative;
  animation: spin 5s linear infinite;
  
}

.cubes{
  position: absolute;
  
}

.cubes i{
position: relative;
}

.cubes div{
  position: relative;
} 

@keyframes spin {
  100% 
  { transform: rotate(360deg); }
} 

.text{
  display: flex;
  flex-direction: column;
  width: 70%;
}

 /* mise en page de la page 3*/
  
 #projets {
  display: flex;
  position: relative;
  top: 100px;
  left: 100px;
}

 /* mise en page de la page 4*/

#contact {
  display: flex;
  position: relative;
  top: 100px;
  left: 100px;
}

iframe{
  width: 100%;
  height: 400px;
}

.map{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  height: auto;
}